@using Microsoft.AspNetCore.Mvc.TagHelpers

@model ShopDomain.Model.Cart?

@{
    ViewData["Title"] = "Продукти у кошику";
}

<h1>Продукти у кошику @ViewBag.CartId</h1>

<p>
    @Html.ActionLink("Додати новий продукт", "Create", new {cartId = ViewBag.CartId})
</p>

<table class="table">
    <thead>
    <tr>
        <th>Назва продукту</th>
        <th>Кількість</th>
        <th>Ціна</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ProductCarts)
    {
        <tr>
            <td>@item.Product.PdName</td>
            <td>@item.PcQuantity</td>
            <td>@item.PcPrice</td>
            <td>
                <form asp-action="RemoveProduct" asp-controller="Carts" method="post">
                    <input type="hidden" name="productId" value="@item.Id" />
                    <button type="submit">Видалити</button>
                </form>

            </td>

        </tr>
    }
    </tbody>
</table>