@using Microsoft.AspNetCore.Mvc.TagHelpers

@model ShopDomain.Model.Cart?

@{
    ViewData["Title"] = "Продукти у кошику";
}

<h1>Продукти у кошику @ViewBag.CartId</h1>

<p>
    @Html.ActionLink("Додати новий продукт", "Create", new {cartId = ViewBag.CartId})
</p>

<table class="table">
    <thead>
    <tr>
        <th>Назва продукту</th>
        <th>Кількість</th>
        <th>Ціна</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ProductCarts)
    {
        <tr>
            <td>@item.Product.PdName</td>
            <td>@item.PcQuantity</td>
            <td>@item.PcPrice</td>
            <td>
                <form asp-action="RemoveProduct" asp-controller="Carts" method="post">
                    <input type="hidden" name="productId" value="@item.Id" />
                    <button type="submit" class="btn btn-primary">Видалити</button>
                </form>
            </td>
        </tr>
    }
    <td>
        <form asp-action="CreateOrderFromCart" asp-controller="Orders" method="post">
            <button type="submit" class="btn btn-success">Оформити замовлення</button>
        </form>
    </td>
    <td>
        <a asp-action="Index" asp-controller="Orders" class="btn btn-info">Переглянути замовлення</a>
    </td>
    
    </tbody>
</table>