@using Microsoft.AspNetCore.Mvc.TagHelpers

@model ShopDomain.Model.Cart?

@{
    ViewData["Title"] = "Продукти у кошику";
}

<h1>Продукти у кошику @ViewBag.CartId</h1>

<p>
    @Html.ActionLink("Додати новий продукт", "Create", new {cartId = ViewBag.CartId})
</p>

<table class="table">
    <thead>
    <tr>
        <th>Назва продукту</th>
        <th>Кількість</th>
        <th>Ціна</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ProductCarts)
    {
        <tr>
            <td>@item.Product.PdName</td>
            <td>@item.PcQuantity</td>
            <td>@item.PcPrice</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                <a asp-action="RemoveProduct" asp-controller="Carts"
                   asp-route-cartId="@Model.Id" asp-route-productId="@item.Id">Видалити</a>
            </td>
        </tr>
    }
    </tbody>
</table>