@using Microsoft.AspNetCore.Mvc.TagHelpers

@model ShopDomain.Model.Cart?

@{
    ViewData["Title"] = "Продукти у кошику";
}

<h1>Продукти у кошику @ViewBag.CartId</h1>

<p>
    @Html.ActionLink("Додати новий продукт", "Create", new {cartId = ViewBag.CartId})
</p>

<table class="table">
    <thead>
    <tr>
        <th>Назва продукту</th>
        <th>Кількість</th>
        <th>Ціна</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ProductCarts)
    {
        <tr>
            <td>@item.Product.PdName</td>
            <td>@item.PcQuantity</td>
            <td>@item.PcPrice</td>
            <td>
                <form asp-action="RemoveProduct" asp-controller="Carts" method="post">
                    <input type="hidden" name="productId" value="@item.Id" />
                    <button type="submit" class="btn btn-primary">Видалити</button>
                </form>
            </td>
        </tr>
    }
    
    
    
    
    <form asp-action="Checkout" asp-controller="Orders" method="post">
        <div class="form-group">
            <label for="paymentMethod">Метод оплати:</label>
            <select id="paymentMethod" name="paymentMethod" class="form-control" required onchange="toggleCardField()">
                <option value="cash">Готівка</option>
                <option value="card">Картка</option>
            </select>
        </div>

        <div class="form-group" id="cardNumberField" style="display: none;">
            <label for="cardNumber">Номер картки:</label>
            <input type="text" id="cardNumber" name="cardNumber" class="form-control" pattern="\d{16}" placeholder="Введіть 16-значний номер картки">
        </div>

        <div class="form-group">
            <label for="orderNotes">Нотатки:</label>
            <textarea id="orderNotes" name="orderNotes" class="form-control"></textarea>
        </div>

        <button type="submit" class="btn btn-success">Оформити замовлення</button>
    </form>

    <script>
        function toggleCardField() {
            var paymentMethod = document.getElementById("paymentMethod").value;
            var cardField = document.getElementById("cardNumberField");
            cardField.style.display = paymentMethod === "card" ? "block" : "none";
        }
    </script>
    <a asp-action="Index" asp-controller="Orders" class="btn btn-info">Переглянути замовлення</a>


    </tbody>
</table>