@model ShopDomain.Model.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OdTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OdTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OdDiscount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OdDiscount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OdPayment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OdPayment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OdNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OdNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OdUserNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OdUserNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Protuct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Protuct.PdName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Receipt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Receipt.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shipping)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shipping.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
