@model IEnumerable<ShopDomain.Model.Order>

@{
    ViewData["Title"] = "Замовлення";
}

<h1>Замовлення</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OdTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OdDiscount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OdPayment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OdNotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OdUserNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Receipt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shipping)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OdTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OdDiscount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OdPayment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OdNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OdUserNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.PdName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Receipt.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shipping.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
