@model ShopDomain.Model.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Деталі</h1>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-dismissible alert-danger mt-3">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Помилка!</strong> 
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}

<div>
    <h4>Продукт</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PdName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PdName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PdPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PdPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PdMeasurements)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PdMeasurements)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PdQuantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PdQuantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PdDiscount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PdDiscount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PdAbout)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PdAbout)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer.MnName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer.MnName)
        </dd>
    </dl>
</div>

<div class="mt-3">
    <form asp-controller="Carts" asp-action="AddToCart" method="post">
        <input type="hidden" name="productId" value="@Model.Id" />

        <label for="quantity">Кількість:</label>
        <input type="number" name="quantity" id="quantity" value="1" min="1" />

        <button type="submit" class="btn btn-success">Додати в кошик</button>
    </form>
</div>

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-warning">Edit</a> |
    <a asp-action="Index" class="btn btn-light">Back to List</a>
</div>