@model ShopDomain.Model.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PdName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PdName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PdPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PdPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PdMeasurements)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PdMeasurements)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PdQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PdQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PdDiscount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PdDiscount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PdAbout)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PdAbout)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer.MnName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer.MnName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
