@model IEnumerable<ShopDomain.Model.Product>

@{
    ViewData["Title"] = "Продукти за категорією";
}

<h1>Продукти за категорією @ViewBag.CategoryName</h1>

<p>
    @Html.ActionLink("Додати новий продукт", "Create", new {categoryId = ViewBag.CategoryId}, new { @class = "btn btn-success"} )
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PdName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PdPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PdMeasurements)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PdQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PdDiscount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PdAbout)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer.MnName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PdName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PdPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PdMeasurements)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PdQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PdDiscount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PdAbout)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer.MnName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
